@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.main-menu
		display: none
		padding: 20px
	.mobile-menu-button
		display: block

	.item-title
		&-content
			padding: 40px 30px
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.first-section
		padding-top: $gutter/2

	.container-fluid
		padding: 0 $gutter/2

	.top-ad
		margin-bottom: $gutter/2

	.no-gutters
		.pattern
			margin-bottom: $gutter/2
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.logo
		font-size: 19px
		padding-left: $gutter/2

	.search-wrap
		.search
			padding-right: $gutter/2
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
